body{
    background-color: yellow; 
}

/* ----------------------------this css is for desktop uses only ------------------------*/
.container{
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto auto auto;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 3px;
    column-gap: 3px;
    margin: 10px;
}

.box1{
    grid-column: 1 /span 12;
    border:3px solid red;
    text-align: center;
}

.box2{
    grid-column: 3 /span 8;
    border: 3px solid red;
    text-align: center;
}

.box3{
    grid-column: 3 /span 8;
    border: 3px solid red;
    text-align: center;
}

.box4{
    grid-column: 1 /span 2;
    grid-row: 2 /span 2;
    border: 3px solid red;
    text-align: center;
}

.box5{
    grid-column: 11 /span 2;
    grid-row: 2 /span 2;
    border: 3px solid red;
    text-align: center;
}

.box6{
    grid-column: 1 /span 12;
    border: 3px solid red;
    text-align: center;
}   

/* ------------------------this css is for tablet uses only--------------------------------- */

@media (max-width:768px) {
    .box1{
        grid-column: 1 /span 12;
        border:3px solid red;
        text-align: center;
    }
    
    .box2{
        grid-column: 1 /span 12;
        border: 3px solid red;
        text-align: center;
    }
    
    .box3{
        grid-column: 3 /span 10;
        border: 3px solid red;
        text-align: center;
    }
    
    .box4{
        grid-column: 1 /span 2;
        grid-row: 3 /span 1;
        border: 3px solid red;
        text-align: center;
    }
    
    .box5{
        grid-column: 1 /span 2;
        grid-row: 4 /span 1;
        border: 3px solid red;
        text-align: center;
    }
    
    .box6{
        grid-column: 3 /span 10;
        border: 3px solid red;
        text-align: center;
    }      
    
}

/* ----------------------this css is for the mobile uses----------------------------- */
@media (max-width:480px) {
    .box1{
        grid-column: 1 /span 12;
        border:3px solid red;
        text-align: center;
    }
    
    .box2{
        grid-column: 1 /span 12;
        border: 3px solid red;
        text-align: center;
    }
    
    .box3{
        grid-column: 1 /span 12;
        border: 3px solid red;
        text-align: center;
    }
    
    .box4{
        grid-column: 1 /span 12;
        grid-row: 4 /span 1;
        border: 3px solid red;
        text-align: center;
    }
    
    .box5{
        grid-column: 1 /span 12;
        grid-row: 5 /span 1;
        border: 3px solid red;
        text-align: center;
    }
    
    .box6{
        grid-column: 1 /span 12;
        border: 3px solid red;
        text-align: center;
    }      
    
}